/* 
    Document   : default
    Created on : Apr 4, 2013, 1:32:10 PM
    Author     : bryan
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body, html, #mapDiv { position:relative; width:100%; height:100%; border:0; margin:0; padding:0; overflow:hidden; font-family:Arial, Helvetica, sans-serif; }
#borderContainer { width:100%; height:100% }
#geogMapLogo {
display: inline-block;
vertical-align: bottom;
width: 100px;
height: 68px;
z-index: 30;
background-image: url('../images/geogLogo-2013.png');
cursor:default;
position:absolute; right:5px; bottom:50px; z-index:99;
}
#leftPane {
          width:275px;
}
#header {
  z-index:50;
  margin:0; padding:0; border:0; overflow: hidden;

  /* Shadow under header for 3 browsers */
  -moz-box-shadow:    0 0 10px 4px #2C2C2C;
          -webkit-box-shadow: 0 0 10px 4px #2C2C2C;
          box-shadow:         0 0 10px 4px #2C2C2C;

}
.esriPopup {
    z-index:99999999;
}
.esriSimpleSlider div {
          width: 55px;
          height: 55px;
          font-size: 55px;
          font-family: verdana,helvetica;
          font-weight: bold;
          line-height: 50px;
}

.esriSimpleSliderIMG {
    width:55px;
    height:55px;
}

.icmExtentToolbarDiv {
    z-index:30; position: absolute; left: 20px !important; top: 140px !important;
}

.toggleSidebarDiv {
    -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; border:2px solid #666666; background:whitesmoke; padding:8px; position:absolute; top:275px; left:-8px; z-index:100; height:125px;
}


.esriPrint {
          padding: 0px;
          float:left;
          }
.css-vertical-text {
  color:#3D3D3D;
  border:0px solid red;
  writing-mode:tb-rl;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform: rotate(90deg);
  white-space:nowrap;
  display:block;
  bottom:0;
  width:20px;
  height:20px;
  font-size:24px;
  font-weight:normal;
  text-shadow: 0px 0px 1px #333;
}
#header-logo-div {
    float:left; 
    max-width:50%;    
}
#header-logo-img {
    padding:2px; 
}
#header-buttons-div {
    float:right; 
    position:fixed; 
    top:5px; 
    right:5px; 
    height:60px; 
    max-width:50%;
}
#facebook-like-button {
    float:right; 
    position:fixed; 
    top:42px;
    z-index:75; 
    right:5px;
}
.fb-like {
    position:relative;
    float:right;
}
#compassroseDiv {
 position:absolute; top:40px; right:10px; z-index:1;   
}
#floorSelectorDiv {
 position:absolute; 
 top:150px; 
 right:20px;
 width:65px;
 z-index:1000;
}
.icm-dialog {
    min-width:40%;
    max-width:66%;
}
    #LocateButton {
      position: absolute;
      top: 140px;
      left: 20px;
      z-index: 50;
    }
    #HomeButton {
      position: absolute;
      top: 180px;
      left: 20px;
      z-index: 50;
    }