/* 
    Document   : default
    Created on : Apr 4, 2013, 1:32:10 PM
    Author     : bryan
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body, html, #mapDiv { position:relative; width:100%; height:100%; border:0; margin:0; padding:0; overflow:hidden; font-family:Arial, Helvetica, sans-serif; }
#borderContainer { width:100%; height:100% }
#leftPane {
          width:0px;
}
#geogMapLogo {
display: inline-block;
vertical-align: bottom;
width: 50px;
height: 34px;
z-index: 30;
background-image: url('../images/geogLogo-2013-50px.png');
cursor:default;
position:absolute; right:5px; bottom:25px; z-index:99;
}
.esriSimpleSlider div {
}
.esriPopup {
    z-index:99999999;
}

.esriSimpleSliderIMG {
          width:29px;
          height:29px;
      }

.icmExtentToolbarDiv {
          z-index:30; position: absolute; left: 20px !important; top: 90px !important;
      }
      
.toggleSidebarDiv {
          -webkit-border-radius: 8px; 
          -moz-border-radius: 8px; 
          border-radius: 8px; 
          border:2px solid #666666; 
          background:whitesmoke; 
          padding:8px; 
          position:absolute; 
          top:160px; 
          left:-6px; 
          z-index:100; 
          height:125px;
      }
      
.esriPrint {
          padding: 0px;
          float:left;
}
.css-vertical-text {
  color:#3D3D3D;
  border:0px solid red;
  writing-mode:tb-rl;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform: rotate(90deg);
  white-space:nowrap;
  display:block;
  bottom:0;
  width:20px;
  height:20px;
  font-size:24px;
  font-weight:normal;
  text-shadow: 0px 0px 1px #333;
}
#header {
  z-index:50;
  margin:0; padding:0; border:0; overflow: hidden;
  height:60px;

  /* Shadow under header for 3 browsers */
  -moz-box-shadow:    0 0 10px 4px #2C2C2C;
-webkit-box-shadow: 0 0 10px 4px #2C2C2C;
box-shadow:         0 0 10px 4px #2C2C2C;

}
#header-logo-div {
    float:left; 
    width:100%;  
}
#header-logo-img {
    max-width:100%;
    height:40px;
    display:block;
    margin-left: auto;
    margin-right: auto;   
}
#header-buttons-div {
    max-width:100%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top:3px;
    text-align:center;
}
.header-buttons-button {
    font-size: 60%;
    padding:0px !important;
    margin:0px !important;
    border:0px !important;
}
.dijitButtonText {
    padding: 0 !important;
}
#facebook-like-button {
    float:right; 
    position:fixed; 
    top:5px;
    z-index:75; 
    right:-80px;
}

.fb-like {
    font-size:50% !important;
}
#compassroseDiv {
 position:absolute; top:40px; right:10px; z-index:1;   
}
#compassroseImg {
    width:50px;
}
#floorSelectorDiv {
 position:absolute; 
 top:95px; 
 right:5px;
 width:65px;
 z-index:1000;
 font-size:80%;
}
.esriScalebar {
    left: 5px !important;
    bottom: 5px !important;
}
.icm-dialog {
    max-width:99%;
    max-height:99%;
    overflow:scroll;
}
    #LocateButton {
      position: absolute;
      top: 90px;
      left: 20px;
      z-index: 50;
    }
    #HomeButton {
      position: absolute;
      top: 125px;
      left: 20px;
      z-index: 50;
    }